<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ethical.love</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>
    <header><h1>ethical.love</h1></header>

{{{body}}}

    <footer><small>&copy; nickolas nikolic</small></footer>
</body>
</html>